<br>
<br>
<table class="table" style="padding-left: 10%;padding-right: 10%;">
    <thead>
        <tr>
            <th style>번호</th>
            <th style>제목</th>
            <th style>장소</th>
            <th style>모임일</th>
            <th style>작성일</th>
            <th>호스트</th>
        </tr>
    </thead>
    <tbody>
        <%if (0) {%>
            <% for(var post in posts){ %>
                <tr>
                    <th><%=post.id%></th>
                    <th><%=post.title%></th>
                    <th><%=post.date%></th>
                    <th><%=post.createdat%></th>
                    <th><%=post.writer%></th>
            </tr>
            <%}%>
        <%}%>
    </tbody>
</table>

<button >모임 생성</button>




