<body>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <% if(games){ %>
                <%for(let game of games) {%>
                    <tr height="200px">
                        <td><a href='/games/readGame/<%= game.id %>'><img src='<%= game.image %>' height="500"/></a> </td>
                    </tr>
                    <tr>
                        <td><a href='/games/readGame/<%= game.id %>'><%= game.name %></a></td>
                    </tr>
                <%}%>
                <% } %>
        </table>
        <% if(games){ %>
            <%if(pageNum>1){%> <a href="/games/<%=pageNum-1%>" <%}%> << <%if(pageNum>1){%> </a> <%}%>
            <% for(let i = 1; i <= count; i++){ %>
                [<%if(pageNum==i){%> <b> <%}%><a href="/games/readGame/<%=i%>"><%=i%></a><%if(pageNum==i){%> </b> <%}%>]
            <%}%>
            <%if(pageNum<count){%> <a href="/games/<%=pageNum+1%>" <%}%> >> <%if(pageNum>1){%> </a> <%}%>
        <%}%>
    </div>
    <div class="container px-lg-5">
        <%if(session.admin) {%>
        <button class="btn bg-light" onclick="location.href='/games/writeGame'" style="position: relative; left: 92%;">게임 추가</button>
        <%}%>
    </div>
</body>