<body>
    <br>
    <div class="container px-lg-5">
        <form action="/notice/writeNotice" method="post">
            <div id="contentForm"> 
                <input type="hidden" name="pageNum" value="${pageNum}"> 
                <input type="hidden" name="articleNumber" value="${article.articleNumber}"> 
                <div class="input-group input-group-sm"> 
                    <table class="table table-striped table-bordered"> 
                        <thead>   
                            <tr> 
                                <th>제목</th> 
                                <td><%= game.name%></td> 
                            </tr>
                            <tr> 
                                <th width="30%">게임 인원</th> 
                                <td width="70%"><%= game.member%></td> 
                            </tr> 
                            <tr> 
                                <th>게임 시간</th> 
                                <td><%=game.time%></td>
                            </tr>
                            <tr> 
                                <th>난이도</th> 
                                <td><%= game.level%></td> 
                            </tr>
                            <tr> 
                                <th style="padding-top: 15px">방식</th> 
                                <td><%= game.method%></td> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td colspan="2"><pre style="font-size: large;"><%=game.content%></pre></td> 
                            </tr>
                        </tbody> 
                    </table> 
                </div> 
                <%if(session.admin) {%>
                    <div style="padding-bottom: 2%;">
                        <input type="button" class="btn bg-light" style="position: relative; left: 87%;" value="삭제" onclick="document.location.href='/games/writeGame/delete/<%= game.id %>'"> 
                    </div>
                    <%}%>
                <div> 
                    <input type="button" class="btn bg-light" value="뒤로 가기" onclick="document.location.href='/games'"> 
                </div> 
            </div> 
        </form>
</body>