<script>
        function partyJoin(id) {
            var result;
            $.ajax({
                data: { participantId: id }
                , url: 'partyJoin'
                , type: 'POST'
                , dataType: 'json'
                , async: ture
                , success: function (data) {
                    buildTable(myArray);
                    function buildTable(data) {
                        var table = document.getElementById('table1');
                        for (var participant of data.participants) {
                            var row = `<tr><td><a href="javascript:.partyJoin(<%=participant.id%>)"><%=participant.name%></a></td></tr>`;
                            table.innerHTML += row;
                        }
                        var table = document.getElementById('table2');
                        for (var aparticipant of data.aParticipants) {
                            var row = `<tr><td><a href="javascript:.partyExit(<%=aParticipant.id%>)"><%=aParticipant.name%></a></td></tr>`;
                            table.innerHTML += row;
                        }
                    }
                }
            });
            return result;
        }
        function partyExit(id) {
            var result;
            $.ajax({
                data: { participantId: id }
                , url: 'partyExit'
                , type: 'POST'
                , dataType: 'json'
                , async: ture
                , success: function (data) {
                    buildTable(myArray);
                    function buildTable(data) {
                        var table = document.getElementById('table1');
                        for (var participant of data.participants) {
                            var row = `<tr><td><a href="javascript:.partyJoin(<%=participant.id%>)"><%=participant.name%></a></td></tr>`;
                            table.innerHTML += row;
                        }
                        var table = document.getElementById('table2');
                        for (var aparticipant of data.aParticipants) {
                            var row = `<tr><td><a href="javascript:.partyExit(<%=aParticipant.id%>)"><%=aParticipant.name%></a></td></tr>`;
                            table.innerHTML += row;
                        }
                    }
                }
            });
            return result;
        }
        

</script>
<body>
    <br>
    <br>
    <div class="container px-lg-5">
                <div>
                    <table class="table table-striped table-bordered"> 
                        <thead> 
                            <tr> 
                                <th width="30%">호스트</th> 
                                <td width="70%"><%= post.user.name %></td> 
                            </tr> 
                            <tr> 
                                <th>모임명</th> 
                                <td><%= post.title %></td> 
                            </tr>
                            <tr> 
                                <th>모임 장소</th> 
                                <td><%= post.place %></td> 
                            </tr>
                            <tr> 
                                <th style="padding-top: 15px">모임날짜</th> 
                                <td><%= post.date %></td> 
                            </tr> 
                        </thead> 
                        <tbody>
                            <tr> 
                                <td colspan="2" class="container px-lg-5"><pre style="font-size: large;"><%= post.content %></pre></td> 
                            </tr> 
                        </tbody> 
                    </table>
                    
                    <div style="height: 250px;">
                        <table class="table">
                            <%if(participants) {%>
                                <th width="50%">
                                    <br>
                                    <div style="overflow: auto; height: 200px;">
                                        <table class="table" id="table1">
                                            <%for(var participant of participants) {%>
                                            <tr><td><a href="javascript:.partyJoin(<%=participant.id%>)"><%=participant.name%></a></td></tr>
                                            <%}%>
                                        </table>
                                    </div>
                                </th>
                            <%}%>
                            <td>
                                <mem style="font-size: larger; position: relative; left:95%;"><%=aParticipants.mem%>/</mem>
                                <table class="table table-striped table-bordered text-center" id="table2">
                                    <thead>
                                            <%for(let participant of aParticipants)%>
                                                <tr height="55">
                                                    <td><a href="javascript:.partyExit(<%=aParticipant.id%>)"><%=aParticipant.name%></a></td>
                                                </tr>
                                            <%}%>
                                    </thead>
                                </table>
                            </td>                       
                        </table>
                    </div>
                    <br>
                    <%if(true) {%>
                    <div style="padding-bottom: 2%;">
                        <input type="button" class="btn bg-light" style="position: relative; left: 87%;" value="수정" onclick="document.location.href='/party'">
                        <input type="button" class="btn bg-light" style="position: relative; left: 87%;" value="삭제" onclick="document.location.href='/party'"> 
                    </div>
                    <%}%>
                    <table class="table table-striped table-bordered"> 
                        <thead>
                            <form action="/party/reply" method="post">
                                <th width="15%" style=><%= session.name %></th> 
                                <td width="85%">
                                    <input type="text" name="reply" class="form-control">
                                </td>
                                <td style="border-left:hidden">
                                    <input type="submit" class="form-control" value="등록"> 
                                </td>
                            </form>
                        </thead>
                        <thead>
                            <tr>
                                <th><%= post.user.name %></th>
                                <td colspan="2"><%= post.user.name %></td>
                            </tr>
                            <% if(false) {%>
                                <% for(let post of posts){ %>
                                    <tr>
                                        <th><%= post.user.name %></th>
                                        <td><%= post.user.name %></td>
                                    </tr>
                                <%}%>
                            <%}%>
                        </thead> 
                    </table>
                </div> 
                <div>
                    <input type="button" class="btn bg-light" style="position: relative; left: 90%;" value="뒤로 가기" onclick="document.location.href='/party'"> 
                </div> 
    </div>
</body>